<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="box">
      <h1>Zmiana hasła</h1>
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Hasło: </label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error placeholder="Twoje hasło"/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nowe hasło: </label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required placeholder="Twoje nowe hasło"/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Hasło musi składać się z co najmniej 3 znaków.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Zapisz zmiany</button>
      </form>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
</div>
